
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/StyleSheet1.css" rel="stylesheet" />
    <link href="~/Styles/StyleSheet1.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-1.4.4.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <title>ActiveList</title>
</head>
<body>
    <div>
        <input id="page-nav-toggle" class="main-navigation-toggle" type="checkbox" />
        <label for="page-nav-toggle">
            <svg class="icon--menu-toggle" viewBox="0 0 60 30">
                <g class="icon-group">
                    <g class="icon--menu">
                        <path d="M 6 0 L 54 0" />
                        <path d="M 6 15 L 54 15" />
                        <path d="M 6 30 L 54 30" />
                    </g>
                    <g class="icon--close">
                        <path d="M 15 0 L 45 30" />
                        <path d="M 15 30 L 45 0" />
                    </g>
                </g>
            </svg>
        </label>

        <nav class="main-navigation">
            <ul>
                <li><a href="#">Home</a></li>
                <li>@Html.ActionLink("Add Game", "AddGame")</li>
                <li>@Html.ActionLink("Update Game", "UpdateGame")</li>
                <li>@Html.ActionLink("Delete Game", "DeleteGame")</li>
                <li>@Html.ActionLink("Active Customers List", "ActiveList")</li>
            </ul>
        </nav>
        <main class="main-content">
            <h1>Active List</h1>
            <div> <input id="getdata" type="submit" name="get data" value="get data" /> </div>
            In progress....
            <table></table>
        </main>
    </div>
    <script>
        $(document).ready(function () {
            $("#getdata").click(function () {
                $.ajax({
                    url: 'https://localhost:44309/api/Rentals',
                    type: 'GET',
                    dataType: 'json',
                    success: function (data, textStatus, xhr) {
                        console.log(data);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log('Error in Operation');
                    }
                });
            });
        });</script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>

</html>
