
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Styles/game.css" />
    <link href="~/Styles/StyleSheet1.css" rel="stylesheet" />
    <link href="~/Styles/StyleSheet1.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-1.4.4.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <title>Add Game</title>
    <style>
        .btndiv {
            position: absolute;
            display: block;
            width: 200px;
            margin-top: 50px;
            margin-left:80px;
        }

        input {
            border-radius: 50px;
            color: white;
            margin-bottom:10px;
        }


        li {
            font-size: 100px;
        }


        select {
            background-color: #337ab7;
            color: white;
        }
    </style>
</head>
<body>
    <div class="bg-image"></div>
    <div>
        <input id="page-nav-toggle" class="main-navigation-toggle" type="checkbox" />
        <label for="page-nav-toggle">
            <svg class="icon--menu-toggle" viewBox="0 0 60 30">
                <g class="icon-group">
                    <g class="icon--menu">
                        <path d="M 6 0 L 54 0" />
                        <path d="M 6 15 L 54 15" />
                        <path d="M 6 30 L 54 30" />
                    </g>
                    <g class="icon--close">
                        <path d="M 15 0 L 45 30" />
                        <path d="M 15 30 L 45 0" />
                    </g>
                </g>
            </svg>
        </label>

        <nav class="main-navigation">
            <ul>
                <li>@Html.ActionLink("Home", "AdminHome")</li>
                <li>@Html.ActionLink("Update Game", "UpdateGame")</li>
                <li>@Html.ActionLink("Delete Game", "DeleteGame")</li>
            </ul>
        </nav>
        <div class="container">
            <div class="box">
                <main class="main-content">
                    <h1 style="font-size: 40px;">Add Game</h1>
                    <form>
                        <input type="text" placeholder="enter game genre" name="genre_name" id="genre" required />
                        <input type="text" placeholder="enter game name" name="game_name" id="gname" required />
                        <input type="date" name="release_date" id="rdate" required />
                        <input type="number" placeholder="enter availability" name="availability" id="avail" required />
                        <input type="number" placeholder="enter price" name="game_price" id="gprice" required />
                        <div class="btndiv">
                            <button type="button" id="mybtn" class="btn btn-block btn-large btn-primary">ADD</button>
                            <button type="reset" id="mybtn1" class="btn btn-block btn-large btn-primary" style="margin-top:5px">CLEAR</button>
                        </div>
                    </form>
                </main>
            </div>
        </div>
    </div>
    <script>


        $(document).ready(function () {
            $("#mybtn").click(function () {
                var data = {
                    genre_name: $("#genre").val(),
                    game_name: $("#gname").val(),
                    release_date: $("#rdate").val(),
                    availability: $("#avail").val(),
                    game_price: $("#gprice").val(),
                }
                $.ajax({
                    url: 'https://localhost:44309/api/games/game',
                    type: 'POST',
                    dataType: 'json',
                    async:false,
                    data: data,
                    success: function (d) {
                        alert("Saved Successfully");
                        document.getElementById("postform").reset();
                    },
                    error: function () {
                        alert("Error please try again");
                    }
                });
                window.location.reload();
            });
        });

    </script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
