
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
    <title>Admin Login</title>
</head>
<body>
    @using (Html.BeginForm("AdminHome", "Admin", FormMethod.Post))
    {
<div>
    <h1><u>Admin Login</u></h1>
    <input type="email" name="email" placeholder="enter email" id="email" required /><br /><br />
    <input type="password" name="password" placeholder="enter password" id="pword" required /><br /><br />
    <button type="submit">LOGIN</button>
    <button type="reset">CLEAR</button><br /><br />
</div>
    }
</body>
</html>
