@model LoginMVC.Models.Game

@{
    Layout = null;
}

@{

    ViewBag.Title = "AddGame";

}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Styles/game.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Styles/StyleSheet1.css" />

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-1.4.4.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="~/Styles/StyleSheet1.min.css" />
    <link href="~/Styles/adminhome.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Admin Home</title>
    <style>
        .dataTables_length {
            margin-bottom: 30px;
        }

        .dataTables_filter {
            margin-bottom: 20px;
        }

            .dataTables_filter input {
                margin-left: 15px;
            }

        li {
            font-size: 70px;
        }

        table {
            width: 1000px;
            margin-left: 250px;
            margin-bottom: 20px;
        }

        body {
            overflow-y: scroll;
        }


        .container .box {
            width: 1500px;
            margin-left: -550px;
            height: 730px;
            margin-top: -130px;
            background-color: rgba(255,255,255,0);
        }

        select {
            background-color: rgba(255,255,255,0.5);
        }

        a {
            padding: 20px;
        }

        li {
            font-size: 100px;
        }
    </style>
</head>
<body>
    <div class="bg-image"></div>
    <div>
        <input id="page-nav-toggle" class="main-navigation-toggle" type="checkbox" />
        <label for="page-nav-toggle">
            <svg class="icon--menu-toggle" viewBox="0 0 60 30">
                <g class="icon-group">
                    <g class="icon--menu">
                        <path d="M 6 0 L 54 0" />
                        <path d="M 6 15 L 54 15" />
                        <path d="M 6 30 L 54 30" />
                    </g>
                    <g class="icon--close">
                        <path d="M 15 0 L 45 30" />
                        <path d="M 15 30 L 45 0" />
                    </g>
                </g>
            </svg>
        </label>

        <nav class="main-navigation">
            <ul>
                <li>@Html.ActionLink("Add Game", "AddGame")</li>
                <li>@Html.ActionLink("Update Game", "UpdateGame")</li>
                <li>@Html.ActionLink("Delete Game", "DeleteGame")</li>
            </ul>
        </nav>
        <div class="container">
            <div class="box">
                <button class="tablink" onclick="openPage('Home', this, '#555')" id="defaultOpen">Games List</button>
                <button class="tablink" onclick="openPage('News', this, '#555')">Users List</button>
                <button class="tablink" onclick="openPage('Contact', this, '#555')">Active Users List</button>

                <div id="Home" class="tabcontent">
                    <table id="datatable1">
                        <thead>
                            <tr>
                                <th>Game ID</th>
                                <th>Game Name</th>
                                <th>Release Date</th>
                                <th>Availablity</th>
                                <th>Price</th>
                                <th>Genre</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div id="News" class="tabcontent">
                    <table id="datatable2">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Date of Birth</th>
                                <th>Gender</th>
                                <th>Email ID</th>
                                <th>Contact Info</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div id="Contact" class="tabcontent">
                    <table id="datatable3">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Date of Birth</th>
                                <th>Gender</th>
                                <th>Email ID</th>
                                <th>Contact Info</th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
                <script>
                    function openPage(pageName, elmnt, color) {
                        var i, tabcontent, tablinks;
                        tabcontent = document.getElementsByClassName("tabcontent");
                        for (i = 0; i < tabcontent.length; i++) {
                            tabcontent[i].style.display = "none";
                        }
                        tablinks = document.getElementsByClassName("tablink");
                        for (i = 0; i < tablinks.length; i++) {
                            tablinks[i].style.backgroundColor = "";
                        }
                        document.getElementById(pageName).style.display = "block";
                        elmnt.style.backgroundColor = color;
                    }

                    // Get the element with id="defaultOpen" and click on it
                    document.getElementById("defaultOpen").click();
                </script>

            
    </div>
    </div>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
                $.ajax({
                    url: 'https://localhost:44309/api/Games',
                    type: 'GET',
                    dataType: 'json',
                    success: function (data, textStatus, xhr) {
                        console.log(data);

                            $('#datatable1').dataTable({
                                data: data,
                                columns: [
                                    { 'data': 'game_id' },
                                    { 'data': 'game_name' },
                                    { 'data': 'release_date' },
                                    { 'data': 'availability' },
                                    { 'data': 'game_price' },
                                    { 'data': 'Genre.genre_name' },
                                ]
                            });
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log('Error in Operation');
                    }
                });
            $.ajax({
                url: 'https://localhost:44309/api/User',
                type: 'GET',
                dataType: 'json',
                success: function (data, textStatus, xhr) {
                    console.log(data);
                    $('#datatable2').dataTable({
                        data: data,
                        columns: [
                            { 'data': 'customer_id' },
                            { 'data': 'customer_name' },
                            { 'data': 'dob' },
                            { 'data': 'gender' },
                            { 'data': 'email' },
                            { 'data': 'contact' },
                        ]
                    });
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Error in Operation');
                }
            });
        });
    </script>
</body>
</html>
