
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update Game</title>
    <link href="~/Styles/game.css" rel="stylesheet" />
    <link href="~/Styles/StyleSheet1.css" rel="stylesheet" />
    <link href="~/Styles/StyleSheet1.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.4.4.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
</head>
<body>
    <div>
        <input id="page-nav-toggle" class="main-navigation-toggle" type="checkbox" />
        <label for="page-nav-toggle">
            <svg class="icon--menu-toggle" viewBox="0 0 60 30">
                <g class="icon-group">
                    <g class="icon--menu">
                        <path d="M 6 0 L 54 0" />
                        <path d="M 6 15 L 54 15" />
                        <path d="M 6 30 L 54 30" />
                    </g>
                    <g class="icon--close">
                        <path d="M 15 0 L 45 30" />
                        <path d="M 15 30 L 45 0" />
                    </g>
                </g>
            </svg>
        </label>

        <nav class="main-navigation">
            <ul>
                <li><a href="#">Home</a></li>
                <li>@Html.ActionLink("Add Game", "AddGame")</li>
                <li>@Html.ActionLink("Update Game", "UpdateGame")</li>
                <li>@Html.ActionLink("Delete Game", "DeleteGame")</li>
                <li>@Html.ActionLink("Active Customers List", "ActiveList")</li>
            </ul>
        </nav>
        <div class="container">
            <div class="box hidden">
                <main class="main-content">
                    <h1>Edit Game</h1>

                    <br /><br />
                    <input type="number" placeholder="enter game id whose data is to be edited" name="game_id" id="g_id" required />
                    <input type="number" placeholder="enter new availability" name="new_avail" id="new_avail" required />

                    <input type="number" placeholder="enter new game price" name="new_price" id="new_price" required />
                    <div class="btndiv">
                        <button type="button" id="mybtn" class="btn btn-block btn-large btn-primary">EDIT</button><br />
                    </div>

                </main>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#avail1').hide();
            $('#price1').hide();
            $('#form1').hide();


            $('#avail').click(function () {
                $('#avail1').show();
                $('#price1').hide();
                $('#form1').show();
            });

            $('#price').click(function () {
                $('#price1').show();
                $('#avail1').hide();
                $('#form1').show();
            });

        });
    </script>
    <script>


        $(document).ready(function () {
            $("#mybtn").click(function () {
                var id = $("#g_id").val();
                console.log(id);
                $.ajax({
                    url: 'https://localhost:44309/api/Games/' + id,
                    type: 'PUT',
                    dataType: 'json',
                    data: {
                        availability: $("#new_avail").val(),
                        game_price: $("#new_price").val(),},
                    success: function (d) {
                        alert("updated Successfully");

                    },
                    error: function () {
                        alert("Error please try again");
                    }
                });
            });
        });

    </script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
