
@{
    Layout = null;
}

<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="~/Styles/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="~/Styles/style.css"> <!-- Resource style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script src="~/Scripts/modernizr.js"></script> <!-- Modernizr -->

    <title>About Us</title>
</head>
<body>
    <section class="cd-section">
        <div class="cd-block">
            <div class="topnav">
                <a style="margin-left: 690px;">@Html.ActionLink("Home", "Index", "Customer")</a>
            </div>
            <h1 style="margin-top:-20px;">About Us</h1><br />
            <h1 style="margin-top:-20px;">Batch: .Net Interns</h1><br />
            <h1 style="margin-top:-20px;">Group No: 5</h1>
            <div class="mouse_scroll">

                <div class="mouse">
                    <div class="wheel"></div>
                </div>
                <div>
                    <span class="m_scroll_arrows unu"></span>
                    <span class="m_scroll_arrows doi"></span>
                    <span class="m_scroll_arrows trei"></span>
                </div>
            </div>
        </div>
    </section> <!-- .cd-section -->

    <section class="cd-section">
        <div class="cd-block">
            <div class="cd-half-block"></div>

            <div class="cd-half-block">
                <p style="font-size:20px">
                    Name: Shivba Pawar<br>
                    College: KIT's College of Engineering, Kolhapur<br>
                    Branch: Information Technology<br>
                    Passing Year: 2021<br>
                    | Data Science | Machine Learning | Python | HTML5 | .Net | Deep Learning |<br>
                    <u>About</u><br>
                    I am a machine learning enthusiast, aspiring to set my career in the domain of Deep learning, Computer Vision and VR/AR gaming, and now I'm trying to get a hold on the concepts of the field.
                    I have good problem solving skills along with dedication towards my work. I have got excellent communication skills and always the thirst to learn something new. <br>
                    <br><a style="margin-left:50px;" href="https://www.linkedin.com/in/shivba-pawar-7572a9162/" class="fa fa-linkedin"></a>
                    <a href="https://www.facebook.com/shivba28/" class="fa fa-facebook"></a>
                    <a href="https://www.instagram.com/sh_weeb_a/" class="fa fa-instagram"></a>
                    <a href="https://www.youtube.com/user/shivba28/featured" class="fa fa-youtube"></a>
                </p>
            </div>
        </div>
    </section> <!-- .cd-section -->

    <section class="cd-section">
        <div class="cd-block">
            <div class="cd-half-block"></div>

            <div class="cd-half-block">
                <p style="font-size:20px">
                    Name: Richa Maurya<br>
                    College: Modern Education Society's College of Engineering, Pune.<br>
                    Branch: Information Technology<br>
                    Passing Year: 2021<br>
                    | Web Development | Application Development | Designing |<br>
                    <u>About</u><br> Passionate and solution-oriented computer engineer with a wide variety of project experiences. Adept at motivating self and others. Have keen interest in web development and Android app development.<br>
                    <br>
                </p>

            </div>
        </div>
    </section> <!-- .cd-section -->

    <section class="cd-section">
        <div class="cd-block">
            <div class="cd-half-block"></div>

            <div class="cd-half-block">
                <p style="font-size:20px">
                    Name: Viren Varma<br>
                    College: P.E.S Modern College of Engineering, Pune<br>
                    Branch: Computer Science and Engineering<br>
                    Passing Year: 2021<br>
                    | Data Science | Machine Learning | Web Development | Android Development |<br>
                    <u>About</u><br>Results-oriented major aiming to leverage communication, team-work, decision-making skills with adaptability and flexibility to successfully work at your company. I can be relied upon to help your company achieve its goals.<br>
                    <br><a style="margin-left:200px;" href="https://www.linkedin.com/in/viren-varma-37527a171/" class="fa fa-linkedin"></a>
                </p>

            </div>
        </div>

    </section>
    <section class="cd-section">
        <div class="cd-block">
            <div class="cd-half-block"></div>

            <div class="cd-half-block">
                <p style="font-size:20px">
                    Name: Anjali Kshirsagar<br>
                    College: Pimpri Chinchwad College of Engineering<br>
                    Branch: Computer Science and Engineering<br>
                    Passing Year: 2021<br>
                    | C++ | Python | SQL | Data Science |<br>
                    <u>About</u><br>A computer science enthusiast with college project experiences in programming, Database Management Systems, and Data Science looking to apply gained knowledge. Would like to work in a challenging environment that provides generous opportunities for learning & advancement in my career.<br>
                    <br><a style="margin-left:200px;" href="https://www.linkedin.com/in/viren-varma-37527a171/" class="fa fa-linkedin"></a>
                </p>

            </div>
        </div>
    </section>

    <nav>
        <ul class="cd-vertical-nav">
            <li><a href="#0" class="cd-prev inactive">Next</a></li>
            <li><a href="#0" class="cd-next">Prev</a></li>
        </ul>
    </nav> <!-- .cd-vertical-nav -->
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/main.js"></script> <!-- Resource jQuery -->
</body>
</html>
