@model LoginMVC.Models.Customer
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-1.4.4.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <title>Registration</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("AuthorizeReg", "Registration", FormMethod.Post))
        {
            <form>
                <h1><u>Registration</u></h1>
                <input type="text" name="customer_name" placeholder="enter name" id="customer_name" required /><br /><br />
                <input type="date" name="dob" id="dob" required /><br /><br />
                <label>Male</label><input type="radio" name="gender" id="male" value="Male" />&nbsp;&nbsp;
                <label>Female</label><input type="radio" name="gender" id="female" value="Female" /><br /><br />
                <input type="tel" name="contact" id="contact" placeholder="enter mobile number" required /><br /><br />
                <input type="email" name="email" placeholder="enter email" id="email" required /><br /><br />
                <input type="password" name="password" placeholder="enter password" id="pword" required /><br /><br />
                <button type="submit" id="mybtn">SUBMIT</button>
                <button type="reset">CLEAR</button><br /><br />

                <p>Registered Already? Login <a href="~/Login/Index">here</a></p>

            </form>
        }
    </div>
    <div> <input id="getdata" type="submit" name="get data" value="get data" /> </div>
    <!--<script>
        $(document).ready(function () {
            if (model => model.LoginErrorMessage == true)
        {
            $('#mybtn').click(function () {
                alert(model => model.LoginErrorMessage);
            });
        }
        else
        {
            $('#mybtn').click(function () {
                alert("Registered Successfully!/nRedirecting you towards Login");
            });
        }
        });

    </script>-->

    <script>
        $(document).ready(function () {
            $('#mybtn').click(function () {
                var User = {
                    customer_name: $('#customer_name').val(),
                    dob: $('#dob').val(),
                    gender: $('#gender').val(),
                    contact: $('#contact').val(),
                    email: $('#email').val(),
                    password: $('#pword').val()



                }
                $.ajax({
                    url: "https://localhost:44309/api/Users",
                    type: "POST",
                    data: User,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        alert("Hello");
                    }




                });
            });
        });
        $(document).ready(function () {
            $("#getdata").click(function () {
                $.ajax({
                    url: 'https://localhost:44309/api/User',
                    type: 'GET',
                    dataType: 'json',
                    success: function (data, textStatus, xhr) {
                        console.log(data);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log('Error in Operation');
                    }
                });
            });
        });</script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
