@model LoginMVC.Models.Customer
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-1.4.4.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <link href="~/Styles/game.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Registration</title>

    <style>
        .btndiv {
            width:200px;
            margin-left:100px;
        }

        .container .box {
            margin-top:-80px;
            height:600px;
        }

        form{
            margin-top: 100px;
        }

        input {
            border-radius: 30px;
            color: white;
        }

        #male, #female {
            width: 15px;
            margin-left:5px;
            margin-top:5px;
        }

        #dob {
            width:220px;
        }
    </style>

</head>
<body>
    <div class="bg-image"></div>
    <div class="container">
        <div class="box">
            @using (Html.BeginForm("AuthorizeReg", "Registration", FormMethod.Post))
            {
            <form>
                <h1><u>Registration</u></h1>
                <input type="text" name="customer_name" placeholder="enter name" id="customer_name" required /><br /><br />
                <input type="date" name="dob" id="dob" required /><br /><br />
                Male<input type="radio" name="gender" id="male" value="Male" style="margin-right:30px;"/>&nbsp;&nbsp;
                Female<input type="radio" name="gender" id="female" value="Female" /><br /><br />
                <input type="tel" name="contact" id="contact" placeholder="enter mobile number" required /><br /><br />
                <input type="email" name="email" placeholder="enter email" id="email" required /><br /><br />
                <input type="password" name="password" placeholder="enter password" id="pword" required /><br /><br />
                <div class="btndiv">
                    <button type="submit" id="mybtn" class="btn btn-block btn-large btn-primary">SUBMIT</button>
                    <button type="reset" class="btn btn-block btn-large btn-primary">CLEAR</button><br /><br />
                </div>
                <p>Registered Already? Login <a href="~/Login/Index">here</a></p>

            </form>
            }
        </div>
    </div>
    <script>
        $(document).ready(function () {
            if (model => model.LoginErrorMessage == "email already exists")
        {
            $('#mybtn').click(function () {
                alert("Email already exists!");
            });
        }
        else
        {
            $('#mybtn').click(function () {
                alert("Registered Successfully!/nRedirecting you towards Login");
            });
        }
        });

    </script>-->

    <script>
        $(document).ready(function () {
            $('#mybtn').click(function () {
                var User = {
                    customer_name: $('#customer_name').val(),
                    dob: $('#dob').val(),
                    gender: $('#gender').val(),
                    contact: $('#contact').val(),
                    email: $('#email').val(),
                    password: $('#pword').val()



                }
                $.ajax({
                    url: "https://localhost:44309/api/Users",
                    type: "POST",
                    data: User,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        alert("Registered Successfully!");
                    }




                });
            });
        });
        $(document).ready(function () {
            $("#getdata").click(function () {
                $.ajax({
                    url: 'https://localhost:44309/api/User',
                    type: 'GET',
                    dataType: 'json',
                    success: function (data, textStatus, xhr) {
                        console.log(data);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log('Error in Operation');
                    }
                });
            });
        });</script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
